@font-face {
  font-family: "Pacifico";
  src: url("fontes/Pacifico.ttf");
}
@font-face {
  font-family: "Sigana";
  src: url("fontes/Sigana.otf");
}
body{
  background-color: white;
  color: black;
  transition: 0.4s;
}
button{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}
button:hover{
  text-decoration: underline;
}
.fpd{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fp{
  cursor: pointer;
  animation: foto 5s infinite;
  display: block;
}
#btn{
  position: fixed;
  text-align: center;
  left: 20px;
  top: 580px;
  background-color: #b75aa1;
  box-shadow: 2px #b75aa1;
  z-index: 20;
  display: block;
  width: 50px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
}
.dark-mode{
  background-color: #111B21;
  color: darkgrey;
  /* as */
}
.dark-mode-n{
  text-shadow: #111B21;
}
.dark-mode-btn{
  border: 1px solid white;
  color: white;
}
ul{
  display: flex;
  width: 100%;
  z-index: 10;
  justify-content: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: #4d2b56;
  list-style-type: none;
  overflow: hidden;
}
li{
  justify-content: center;
}
li a{
  color: white;
  text-align: center;
  background-color: purple;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active){
  background-color: white;
  color: purple;
}
.active{
  background-color: white;
  color: purple;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  position: sticky;
  background-color: white;
  height: 100px;
  width: 100%;
}
.nome{
  font-size: 100px;
  font-weight: normal;
  font-family: "Sigana";
  text-align: center;
}
#nomeb{
  position: relative;
  top: -40px;
  color: purple;
  font-size: 20px;
  animation: t 5s infinite;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white;
  font-family: "Pacifico";
  text-align: center;
}
@keyframes t {
0%: {color: violet}
25% {color: purple}
50% {color: red}
100% {color: violet}
}
