@font-face {
  font-family: "Pacifico";
  src: url("/fontes/Pacifico.ttf");
}
@font-face {
  font-family: "Sigana";
  src: url("/fontes/Sigana.otf");
}
body{
  background-color: white;
  color: black;
  transition: 0.4s;
}
button{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}
button:hover{
  text-decoration: underline;
}
#btn{
  position: fixed;
  text-align: center;
  color: black;
  border: 1px solid black;
  top: 40px;
  left: 30px;
  display: block;
  padding: 8px 10px;
  text-decoration: none;
}
.dark-mode{
  background-color: #111B21;
  color: darkgrey;
}
.dark-mode-n{
  text-shadow: #111B21;
}
.dark-mode-btn{
  border: 1px solid white;
  color: white;
}
ul{
  display: flex;
  width: 100%;
  z-index: 10;
  justify-content: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: purple;
  list-style-type: none;
  overflow: hidden;
}
li{
  justify-content: center;
}
li a{
  color: white;
  text-align: center;
  background-color: purple;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active){
  background-color: white;
  color: purple;
}
.active{
  background-color: white;
  color: purple;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  position: sticky;
  background-color: white;
  height: 100px;
  width: 100%;
}
.nome{
  font-size: 100px;
  font-weight: normal;
  font-family: "Sigana";
  text-align: center;
}
.nomeb{
  position: relative;
  top: -40px;
  animation: t 5s infinite;
  color: purple;
  font-size: 20px;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white;
  font-family: "Pacifico";
  text-align: center;
}
@keyframes t {
0%: {color: violet}
25% {color: purple}
50% {color: red}
100% {color: violet}
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}
.button2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25px;
}
.button3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 102px;
}
.wapage {
	background-color:transparent;
	border:1px solid darkgreen;
	cursor:pointer;
	color:darkgreen;
	font-family:Arial;
	font-size:17px;
	padding:16px 90px;
	text-decoration:none;
	text-shadow:0px 0px 0px black;
}
.wapage:hover {
	background-color:green;
  color: white;
}
.wapage:active {
	position:relative;
	top:1px;
}
.breve {
  background-color:transparent;
	border:1px solid grey;
	cursor: not-allowed;
	color:grey;
	font-family:Arial;
	font-size:17px;
	padding:16px 90px;
	text-decoration:none;
	text-shadow:0px 0px 0px black;
}
.breve:hover {
  background-color:grey;
  color: white;
}
.breve:active {
	position:relative;
	top:1px;
}
