@font-face {
  font-family: "Pacifico";
  src: url("/fontes/Pacifico.ttf");
}
@font-face {
  font-family: "Sigana";
  src: url("/fontes/Sigana.otf");
}
body{
  background-color: #111B21;
  color: black;
}
.dark-mode{
  background-color: black;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nome{
  color: red;
  font-size: 100px;
  font-weight: normal;
  font-family: "Sigana";
  text-align: center;
}
.nomeb{
  position: relative;
  top: -40px;
  animation: t 5s infinite;
  color: red;
  font-size: 20px;
  text-shadow: 1px 1px 0 #111B21, 1px -1px 0 #111B21, -1px 1px 0 #111B21, -1px -1px 0 #111B21, 1px 0px 0 #111B21, 0px 1px 0 #111B21, -1px 0px 0 #111B21, 0px -1px 0 #111B21;
  font-family: "Pacifico";
  text-align: center;
}
.content-coracao {
  position: relative;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 100px auto;
  -webkit-animation: pulsa 1s linear 0s infinite;
}
@keyframes pulsa {
  0% {
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  70% {
    transform: scale(1.1) rotate(0deg);
  }
  80% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.square {
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
  background: #e71940;
  position: absolute;
  top: 57.5px;
}
.circle:after,
.circle:before {
  content: "";
  position: absolute;
  width: 108px;
  height: 110px;
  border-radius: 50%;
  background: #e71940;
}
.circle:after {
  left: 10px;
  top: 12px;
}
.circle:before {
  right: 10px;
  top: 12px;
}
@keyframes t {
0%: {color: darkred}
25% {color: red}
50% {color: darkred}
100% {color: red}
}
.desca{
  position: relative;
  text-align: center;
  top: 400px;
  color: darkgrey;
  font-size: 20px;
  font-family: "Pacifico"
}
